---
import Base from "@/layouts/Base.astro";
---

<Base title="Showcase - Ikhsanuddin Syamsuri" description="Coming Soon">
  <main class="min-h-screen flex items-center justify-center">
    <h1 class="text-4xl">Coming Soon</h1>
  </main>
</Base>
