@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-roboto);
}

/*----------------------------------------*/
/*  - header
/*----------------------------------------*/
.main-menu {
  @apply lg:flex justify-start uppercase leading-8 text-[14px];
}
.main-menu li a {
  @apply block mx-[20px];
}
.main-menu li a span {
  @apply relative block before:absolute before:left-0 before:bottom-0 before:right-0 before:h-[1px] before:opacity-0 before:bg-slate-500 before:transform before:scale-x-[0.2] before:transition before:duration-500 hover:before:opacity-100 hover:before:scale-x-100 dark:before:bg-white;
}
.main-menu li.active a span {
  @apply before:opacity-100 before:scale-x-100;
}
.main-menu .navigation > li > ul {
  padding: 20px 15px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.is-sticky.sticky-navbar {
  @apply bg-[#eeeeee80] backdrop-blur-md dark:bg-[#11111180];
}
.sticky-navbar {
  @apply fixed transition duration-300 top-0 left-0 w-full z-20;
}

#mobile-main-menu .active, #mobile-main-menu .flow-root a:hover{
 @apply bg-gray-50 dark:text-gray-900
}